@font-face{
    font-family:'Proxima Nova';
    src:url("./fonts/ProximaNova-Black.eot");
    src:local("./fonts/Proxima Nova Black"),local("ProximaNova-Black"),url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),url("./fonts/ProximaNova-Black.woff") format("woff"),url("./fonts/ProximaNova-Black.ttf") format("truetype");
    font-weight:900;
    font-style:normal
}

*{
    padding:0;
    margin:0;
    list-style:none;
    outline:none;
    font-family:'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
    box-sizing:border-box
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background:url(../img/background_body.jpg) repeat center;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

li, a, button{
    font-family:'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(243, 239, 239);
    text-decoration: none;
}

/* header-page */

header{
    background: #0e1419 url(../img/background_header.jpg) no-repeat center;
    width: 100rem;
}

.header-page__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 1px solid gray;
    
}

.header__logo{
   height: 100px; 
}

.header-page__end{
    cursor:pointer;
}

header button{
    padding: 9px 25px;
    background-color: rgb(177, 5, 13);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover{
    background-color:rgb(151, 3, 11) ;
}

.section-top__nav-text:active{
    background-color: white;
    color: black;
}

.section-top__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-top__nav-ul{
    display: flex;
    align-items:center;
}

.section-top__nav-basket{
    margin-left: 600px;
}

.section-top__nav-li{
    padding-left: 30px;
}

/* ./header-page */

/* menu-section */

.main-section{
    display: flex;
    margin: 40px;
    color:black;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.menu-section__pizza-cart{
    width: 300px;
    border: 1px solid gray;

}

.menu-section__container{
    background-color: white;
    margin: 20px 30px;
}

.pizza-menu__title{
    text-align: center;
    margin: 15px;
}

.btn__pizza{
    margin-top: 10px;
}

.btn__pizza-size{
    padding: 9px 25px;
    background-color: rgb(253, 253, 253);
    border: 1px solid gray;
    color: rgb(172, 170, 170);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
}

.btn__pizza-size:hover{
    background-color:rgb(230, 228, 228);
    color: black;
    
}

.pizza-cart__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px ;
}

.pizza-cart__coast{
    font-size: 20px;
    padding-left: 30px;

}

.btn-pizza__to-basket{
    padding: 9px 25px;
    background-color: rgb(177, 5, 13);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-pizza__to-basket:hover{
    background-color:rgb(151, 3, 11) ;
}

.pizza-menu__description{
    padding: 10px 10px 10px 10px ;
    color: rgb(172, 170, 170);
}

/* ./menu-section */

/* footer-section */

footer{
    background: #0e1419 url(../img/background_header.jpg) no-repeat center;
    width: 100rem;
    height: auto;
    padding: 50px 100px; 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container__about{
    margin-right: 40px;
    width: 40%;
    
}

footer h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(177, 5, 13);
}

footer p{
    color: rgb(172, 170, 170);

}

.footer-container__soc{
    margin-top: 20px;
    display: flex;
}

.footer-container__soc li{
    list-style: none;
}

.footer-container__soc li a{
    display: inline-block;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.footer-container__soc li a:hover{
    background: #f00;
    color: #fff;
    font-size: 20px;
}

.footer-container__links{
    margin-right: 400px;
}

.footer-container__links li a:hover{
    background: rgb(172, 170, 170);
    color: #fff;
}

/* ./footer-section */

/* modal-window */

.modal-window{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:rgb(22, 22, 22);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.modal-window__body{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}

.modal-window__content{
    background-color: #fff;
    color: black;
    max-width: 800px;
    padding: 30px;
    
}

.modal-window__close{
    margin-left: 350px;
}

.modal-window__title-add h2{
    text-align: center;
    padding: 20px 0;
}

.modal-window__content input{
  width: 400px;
  padding:10px;
  border:0;
  border-radius: 20px;
  box-shadow:0 0 15px 4px rgba(218, 3, 3, 0.06);
  margin:10px 0;
}

.modal-window__title-add{}
.pizza-title{}
.modal-window__img-add{}


/* ./modal-window */