/* @font-face{
    font-family:'Proxima Nova';
    src:url("./fonts/ProximaNova-Black.eot");
    src:local("./fonts/Proxima Nova Black"),local("ProximaNova-Black"),url("./fonts/ProximaNova-Black.eot?#iefix") format("embedded-opentype"),url("./fonts/ProximaNova-Black.woff") format("woff"),url("./fonts/ProximaNova-Black.ttf") format("truetype");
    font-weight:900;
    font-style:normal
} */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

li,
a,
button {
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgb(243, 239, 239);
  text-decoration: none;
}
