.container__links{
    margin-right: 400px;
  }
  
  .container__links li a:hover{
    background: rgb(172, 170, 170);
    color: #fff;
  }

  .container__links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .container__links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(177, 5, 13);
  }