.main-section{
    background:url(../../img/background_main.jpg) repeat center;
    margin: 10px 30px;
    color:black;
    flex: 1 1 auto;
  }
  .section-top__nav-ul{
  display: flex; 
  align-items: center;
  }
  
  .main-section__container button{
  padding: 9px 25px;
    background-color: rgb(145, 72, 75);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .main-section__container button:hover{
  background-color:rgb(151, 3, 11) ;
  }
  
  .section-top__nav-li{
  margin-left: 10px;
  }
  
  /* ./main-section */
  
  /* menu-section */
  
  .menu-section__container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px 20px 30px;
  }
  .pizza-cart__container{
  margin: 20px 0 20px 40px;
  background-color: #fff;
  width: 300px;
  border: 1px solid gray;
  }
  
  .card-logo{
  width: 300px;
  height:300px;
  }
  
  .pizza-menu__title{
    text-align: center;
    margin: 15px;
  }
  
  .btn__pizza{
    padding: 10px 10px;
  }
  
  .btn__pizza-size{
    padding: 9px 25px;
    background-color: rgb(253, 253, 253);
    border: 1px solid gray;
    color: rgb(172, 170, 170);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 30px;
  }
  
  .btn__pizza-size:hover{
    background-color:rgb(230, 228, 228);
    color: black;
    
  }
  
  .pizza-cart__coast{
    font-size: 20px;
    padding-left: 10px;
  }
  
  .pizza-cart__price{
  padding: 10px 30px ;
  display: flex;
  justify-content: space-between;
  }
  
  .btn-pizza__to-basket{
    padding: 9px 25px;
    background-color: rgb(177, 5, 13);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .btn-pizza__to-basket:hover{
    background-color:rgb(151, 3, 11) ;
  }
  
  .pizza-menu__description{
    padding: 10px 10px 10px 10px ;
    color: rgb(172, 170, 170);
  }
  
  /* ./menu-section */

  
  