header {
  /* position: fixed; */
  background: #0e1419 url(../../img/background_header.jpg) no-repeat center;
  width: 100%;
  /* transition: all 0.7s ease 0s; */
  /* box-shadow: 0px -5px 5px -5px rgba(20, 20, 20, 0.4) inset; */
}

.container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.page__nav {
  display: flex;
  margin-left: auto;
  cursor: pointer;
  color: #fff;
}

.page__profile {
  margin-right: 30px;
}
